
h1,p{
    margin: 0;
}
h1{
    font-size: 20px;
}
p{
    font-size: 14px;
}
footer{
    max-width: 100% !important;
}
.footer-child-center {
    padding: 20px 0;
    box-sizing: border-box;
    width: 100vw !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}
.footer-child2 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 20vw !important;
}

.footer-child1-icon {
    max-width: 30px !important;
}
.Copyright {
    padding: 10px;
}






