<footer class="footer-child-center bg-dark ">
    <div class="footer-child2">
        <div>
            <img class="footer-child1-icon" src="../../../assets/images/home/address.png" alt="" />
        </div>
        <div>
            <h5>Address</h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut veniam </p>

        </div>
    </div>
    <div class="footer-child2">
        <div>
            <img class="footer-child1-icon" src="../../../assets/images/home/phone.png" alt="" />
        </div>
        <div>
            <h5>Phone Number</h5>
            <p> +91 9000000000 <br> +91 9000000000 </p>

        </div>
    </div>
    <div class="footer-child2">
        <div>
            <img class="footer-child1-icon" src="../../../assets/images/home/email.png" alt="" />
        </div>
        <div>
            <h5>Email</h5>
            <p> 
                support@vmurban.com <br>
                sales@vmurban.com
            </p>

        </div>
    </div>
</footer>
<footer class="bg-dark text-center text-white">
    <div class="container p-3 pb-0">
        <section class="">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-facebook-f"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-instagram"></i></a>

        </section>
    </div>
    <div class="text-center Copyright" style="background-color: rgba(0, 0, 0, 0.2);">
        codewithfaraz © 2023 All Rights Reserved.
    </div>
</footer>