<div class="header-body">
    <nav>
        <div class="d-flex justify-content-between align-items-center">
            <div><img src="../../../assets/images/header/vm-urban.png" alt="" width="147px" height="99px"></div>
            <div class="d-flex flex-column justify-content-bottom align-items-end">
                <div class="d-flex align-items-center">
                    <ul>
                        <li> <a [routerLink]="['/']">Home</a> </li>
                        <li> <a [routerLink]="['/aboutus']">About Us</a> </li>
                        <li> <a [routerLink]="['/services']">Services</a> </li>
                        <li class="dropdown"> <span>Products</span>
                            <div class="dropdown-content">
                                <a [routerLink]="['/InterionSolutions']"> Interior Solutions</a>
                                <a [routerLink]="['/InterionServices']">Interior Services </a>
                            </div>
                        </li>
                        <li> <a [routerLink]="['/contact']">Contact Us</a> </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>