@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese);

@font-face {
    font-family: "demurecontrols";
    src: url("http://cssslider.com/sliders/pen/demurecontrols.eot?cssslidertheme=demure");
    src: url("http://cssslider.com/sliders/pen/demurecontrols.eot#iefix?cssslidertheme=demure") format("embedded-opentype"),
        url("http://cssslider.com/sliders/pen/demurecontrols.woff?cssslidertheme=demure") format("woff"),
        url("http://cssslider.com/sliders/pen/demurecontrols.ttf?cssslidertheme=demure") format("truetype"),
        url("http://cssslider.com/sliders/pen/demurecontrols.svg#demure?cssslidertheme=demure") format("svg");
    font-weight: normal;
    font-style: normal;
}

.home-bg {
    background-image: url('../../../assets/images/home/green-interior-modern-interior-living-room-style-with-soft-sofa-green-wall-3d-rendering\ 1.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    margin-top: -99px;
}

.home-bg1 {
    padding-top: 120px;
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    button {
        background: rgba(246, 181, 14, 1);
        width: 203px;
        height: 60px;
        padding: 20px, 10px, 20px, 10px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;    
        color: #fff;    
        border: none;
    }
    img , button {
        margin-right: 200px;
    }
    br{
        margin: 0px;
    }
}

.main-content {
    .main-content1 {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        max-width: 1200px;
        margin: auto;
        padding-bottom: 20px;
    }

    .main-content2 {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        max-width: 1200px;
        margin: auto;
    }

    padding: 50px 20px;
    box-sizing: border-box;
    background: rgba(53, 115, 110, 0.1)
}

.card-body {
    max-width: 1360px;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
}

.card-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    .card-main2 {
        width: 35vw;
        max-width: 600px;
    }

    .card-main1 {
        img {
            width: 35vw;
            max-width: 600px;
        }
    }
}

.card-rev {
    flex-direction: row-reverse;
}