<div class="home-bg">
    <div class="home-bg1">
        <div>Discover The Best</div>
        <div>Furniture for You!</div>
        <div><img src="../../../assets/images/home/Vector 4 (1).png" alt=""></div>
        <div> <button> Get a Quote</button></div>
        
      
    </div>

</div>
<div class="main-content">
    <div class="main-content1">Elevate Your Space: Explore VM Urban's <br> Elegant Furniture Collection!</div>
    <div class="main-content2">VM Urban is your gateway to curated, high-quality furniture that transcends functionality
        to embody artistry
        and style. With a commitment to exceptional craftsmanship, we offer a diverse range of pieces meticulously
        designed to enhance every living space. Our artisans employ time-honored techniques and premium materials,
        ensuring each item is a testament to enduring quality. We prioritize sustainability, from responsible sourcing
        to eco-conscious production methods. At VM Urban, we believe furniture should be an expression of individuality,
        offering customization options to suit your unique preferences. Elevate your home with VM Urban, where furniture
        becomes a statement of refined living.</div>
</div>
<div class="card-body">
    <div class="card-main">
        <div class="card-main1">
            <img src="../../../assets/images/home/collection.png" alt="">
        </div>
        <div class="card-main2">
            <h2>Featured Collections</h2>
            <p>
                Explore our handpicked Featured Collections, curated to bring exceptional style and functionality to
                your space. From modern minimalism to timeless classics, each piece is a testament to our commitment to
                quality craftsmanship. Discover furniture that not only complements your lifestyle but elevates it.
                Whether you seek elegant living room ensembles or versatile bedroom sets, our curated selections are
                designed to inspire and transform your home.
            </p>
        </div>
    </div>
    <div class="card-main card-rev">
        <div class="card-main1 ">
            <img src="../../../assets/images/home/chair.png" alt="">
        </div>
        <div class="card-main2">
            <h2>Customization Options</h2>
            <p>
                Express your unique style with our customizable furniture options. Choose from a curated selection of
                premium materials, finishes, and colors to create a piece that perfectly complements your space. Whether
                it's a tailored sofa, a personalized dining set, or a bespoke coffee table, our customization options
                ensure your furniture reflects your individual taste and lifestyle. Elevate your home with furniture
                that's as distinct as you are.
            </p>
        </div>
    </div>
    <div class="card-main">
        <div class="card-main1">
            <img src="../../../assets/images/home/custom.png" alt="">
        </div>
        <div class="card-main2">
            <h2>Sustainability and Craftsmanship</h2>
            <p>
                Embracing sustainability, VM Urban prioritizes eco-conscious practices in furniture crafting. Our
                pieces are crafted by skilled artisans using responsibly sourced materials, ensuring both quality and
                environmental mindfulness. We believe in creating furniture that not only enriches your living spaces
                but also leaves a positive impact on the planet. Discover the perfect blend of sustainability and
                craftsmanship in every piece at VM Urban.
            </p>
        </div>
    </div>

</div>