<div class="card-body">
    <div class="card-head">
        <h1>Customized Modular Interior Solutions</h1>
        <p>Discover tailored modular solutions for every corner of your home. From bespoke wardrobes that seamlessly
            blend with your décor to exquisite granite countertops in our modern kitchens. Define your living spaces
            with elegant partitions, and ensure restful sleep with our durable bed frames. Elevate your space with VM
            Urban.</p>
    </div>
    <div class="card-main">
        <div class="card-main1">
            <img src="../../../assets/images/products/products1.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2>Bedroom & Closet</h2>
            <p>
                Tailored Storage for Personal Spaces 

                Elevate your bedroom and walk-in closet with our bespoke wardrobes. Each piece is designed to blend
                seamlessly with your décor while offering optimal functionality and style.
            </p>
        </div>
    </div>
    <div class="card-main card-rev">
        <div class="card-main1 ">
            <img src="../../../assets/images/products/products2.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2>Kitchen & Entertainment</h2>
            <p>
                Functional Elegance for Every Home 

                Experience the epitome of modern living with our modular kitchens featuring exquisite granite
                countertops. Complement your entertainment area with stylish TV background units, designed for
                contemporary lifestyles.
            </p>
        </div>
    </div>
    <div class="card-main">
        <div class="card-main1">
            <img src="../../../assets/images/products/products3.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2> Living Spaces & Dining</h2>
            <p>
                Harmonizing Functionality and Aesthetics 
                Define your living spaces with elegant partitions that strike the perfect balance between openness and
                privacy. Discover a range of comfortable and stylish sofas, along with dining and executive tables that
                cater to both family gatherings and professional meetings.
            </p>
        </div>
    </div>
    <div class="card-main card-rev">
        <div class="card-main1 ">
            <img src="../../../assets/images/products/products4.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2>Restful Retreats</h2>
            <p>
                Bedroom Essentials for Quality Sleep 

                Ensure restful sleep with our durable and comfortable bed frames (cots). Complete your home's
                entertainment area with a modern bar counter that adds a touch of sophistication to your space.
            </p>
        </div>
    </div>

</div>