<div class="card-body">
    <div class="card-head">
        <h1>Comprehensive Interior Services</h1>
        <p>VM Urban offers a range of comprehensive interior services. Our expert designers collaborate closely to
            craft spaces reflecting your style. We provide seamless turnkey solutions, ensuring timely and
            budget-friendly project completion. Embrace modern living with our cutting-edge home automation. Choose from
            a variety of flooring and surface options, along with expert painting, ceiling, facade design, and lighting
            solutions.</p>
    </div>
    <div class="card-main">
        <div class="card-main1">
            <img src="../../../assets/images/products/products5.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2>Design Expertise</h2>
            <p>
                Conceptualizing Your Dream Spaces <br>

                Our expert interior designers work closely with you to bring your vision to life, creating spaces that
                reflect your unique style and preferences.
            </p>
        </div>
    </div>
    <div class="card-main card-rev">
        <div class="card-main1 ">
            <img src="../../../assets/images/products/products6.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2>Seamless Turnkey Solutions</h2>
            <p>
                From Blueprint to Reality <br>

                Entrust us with the complete execution of your project. Our turnkey solutions ensure a hassle-free
                experience, delivering your project on time and within budget.
            </p>
        </div>
    </div>
    <div class="card-main">
        <div class="card-main1">
            <img src="../../../assets/images/products/products7.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2> Smart Home Integration</h2>
            <p>
                Embrace the Future of Living <br>

                Experience the convenience and efficiency of modern living with our cutting-edge home automation
                services, tailored to enhance your lifestyle.
            </p>
        </div>
    </div>
    <div class="card-main card-rev">
        <div class="card-main1 ">
            <img src="../../../assets/images/products/products8.jpg" alt="">
        </div>
        <div class="card-main2">
            <h2>Flooring, Finishing, and More</h2>
            <p>
                Transforming Surfaces and Spaces <br>

                Choose from a wide selection of tile and carpet flooring options for residential and commercial spaces.
                Our expert team also specializes in painting, surface finishing, ceiling works, architectural facade
                design, and customized lighting solutions.
            </p>
        </div>
    </div>

</div>