<div class="aboutus-main">
    <!-- <div>Passion for Design, <br>Dedication to Quality.</div> -->
</div>
<div class="about-bg">
    <div class="aboutus">
        <div class="aboutus-item">
            <h1>About VM Urban</h1>
            <p>
                Welcome to VM Urban, where we redefine spaces with exceptional furniture craftsmanship. With a passion
                for
                design and a commitment to quality, we bring you a curated selection of furniture that harmonizes form
                and
                function.
            </p>
        </div>
        <div class="aboutus-item">
            <h1>Our Philosophy</h1>
            <p>
                At VM Urban, we believe that furniture is more than just functional pieces; it's an expression of your
                lifestyle and personality. That's why we meticulously source and create furniture that embodies style,
                comfort, and durability.
            </p>
        </div>
        <div class="aboutus-item">
            <h1>Craftsmanship Excellence</h1>
            <p>
                Each piece at VM Urban is a testament to our dedication to craftsmanship. Our skilled artisans employ
                time-honored techniques and the finest materials to ensure every item is a work of art, built to last
                for
                generations.
            </p>
        </div>
        <div class="aboutus-item">
            <h1>Experience the VM Urban Difference</h1>
            <p>Explore our collection and experience the difference that exceptional craftsmanship and timeless design
                can
                make in your home. Elevate your living spaces with VM Urban, where quality meets style.
            </p>
        </div>
        <div class="aboutus-item">
            <h1>Sustainability Commitment</h1>
            <p>
                We prioritize sustainability in our practices, from responsible sourcing to eco-friendly production
                methods.
                By choosing VM Urban, you're investing in furniture that's not only beautiful but also environmentally
                conscious.
            </p>
        </div>
    </div>
</div>
<div class="counter-section">
    <div class="counter-item">
        <div></div>
        <div>
            <h1>3000+</h1>
            <p>Happy Customers</p>
        </div>
    </div>
    <div class="counter-item">
        <div></div>
        <div>
            <h1>3000+</h1>
            <p>Happy Customers</p>
        </div>
    </div>
    <div class="counter-item">
        <div></div>
        <div>
            <h1>12+</h1>
            <p>Happy Customers</p>
        </div>
    </div>
</div>