<app-about></app-about>
<div class="cor-kbif-container">
    <div class="cor-center">
        <h1 class="">OUR SERVICES</h1>
        <p class="" style="width: 80%;">"VM Urban offers a trio of services tailored to elevate your living spaces. Our
            expert designers craft personalized interiors, reflecting your unique style. With turnkey project
            management, we seamlessly transform blueprints into reality. Embrace modern living with our state-of-the-art
            home automation solutions for enhanced convenience and efficiency."</p>
    </div>
    <div class="cor-kbif-f-box">
        <div class="cor-kbif-f-in-box">
            <!-- <img src="../../../assets/images/home/web3.jpg" class="cor-img"> -->
            <div class="cor-kbif-f-txt-box">
                <h2 class="" id="hi">Interior Design and Consultation Services</h2>
                <p>Design Expertise: Our skilled interior designers collaborate
                    closely with clients to bring their unique visions to life, creating spaces that reflect their
                    individual style and preferences.</p>
            </div>
        </div>
        <div class="cor-kbif-f-in-box">
            <!-- <img src="../../../assets/images/home/app.jpg" class="cor-img"> -->
            <div class="cor-kbif-f-txt-box">
                <h2 class="">Turnkey Project Management</h2>
                <p>Seamless Turnkey Solutions: From conceptualization to realization, clients can entrust us with the
                    complete execution of their projects. Our turnkey solutions guarantee a hassle-free experience,
                    ensuring projects are delivered on time and within budget.</p>
            </div>
        </div>
        <div class="cor-kbif-f-in-box">
            <!-- <img src="../../../assets/images/home/ui-ux.jpg" class="cor-img"> -->
            <div class="cor-kbif-f-txt-box">
                <h2 class="">Smart Home Integration and Technology Services: </h2>
                <p>Smart Home Integration: Embrace the future of modern living with our advanced home automation
                    services. Tailored to enhance your lifestyle, we provide cutting-edge solutions for convenience and
                    efficiency.</p>
            </div>
        </div>
    </div>
</div>